<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="build/js/bundle.js"></script>
		<script src="https://dl.frontapp.com/libs/frontjs.min.js"></script>
		<script src="https://use.fontawesome.com/a184991482.js"></script>
	</head>
	<body style="font-family:Helvetica Neue;background-color:white"ng-app="FrontTestIntegration" ng-controller="FrontTestController">
		<h1 style="text-align:center">Github Plugin</h1>
		<img src="social.gif"/>
		<h2>Open issues for front-test-project:</h2>
	    <div ng-repeat="issue in issues">
	    	<a ng-href="{{issue.html_url}}"><h4>{{$index+1}}.) {{issue.title}}</h4></a>
	    	<ul>
	    		<li>
	    			<i>Issue Description: "{{issue.body}}"</i>
	    				<span ng-if="issue.frontConversationCreated" style="color:green"><i class="fa fa-check">  </i>Front conversation created for issue. </span>
	    				<span ng-if="!issue.frontConversationCreated" style="color:orange"><i class="fa fa-close">  </i>Creating Front conversation for issue... <img height="18px" width="18px" src="spinner.gif"/></span>
	    		</li>
	    		<li>
	    			<button ng-click="monitorCommentsForIssue(issue)">{{issue.monitoringEnabled ? 'Disable monitoring' : 'Monitor'}} comments for issue?</button> <i class="fa fa-cogs" ng-style="issue.monitoringEnabled ? {color:'green'} : {color:'orange'}"></i>
	    			<span ng-if="issue.monitoringEnabled" style="color:green">Monitoring active.</span>
	    			<span ng-if="!issue.monitoringEnabled" style="color:orange">Monitoring inactive.</span>
	    		</li>
	    		<li ng-show="issue.noCommentsFound">No comments found.</li>
	    		<ol ng-show="issue.fetchedComments&&issue.fetchedComments.length">
	    			<li ng-repeat="comment in issue.fetchedComments">"{{comment.body}}"
	    				<span ng-if="comment.frontMessageCreated" style="color:green"><i class="fa fa-check">  </i>Front message created for comment.</span>
	    				<span ng-if="!comment.frontMessageCreated" style="color:orange"><i class="fa fa-close">  </i>Creating Front message for comment...<img height="18px" width="18px" src="spinner.gif"/></span>
	    			</li>
	    		</ol>
	    	</ul>
	    </div>
	</body>
</html>